* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'SUIT', sans-serif;
  font-style: normal;
}

body {
  background-color: rgb(0,0,0)
}

@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

.icons-wrap {
  display: flex;
  gap: 40px;
  padding: 20px;
  width: max-content;
}

.icons-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  font-family: 'SUIT', sans-serif;

  h4 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  div {
    display: flex;
    gap: 16px;
  }
  p {
    font-size: 20px;
  }
}

.colors-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: white;

  h4 {
    font-size: 28px;
    font-weight: 700;
    margin: 40px 0 20px 0;
  }
}

.colors-group {
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .color-chips {
    display: flex;

    a {
      width: 80px;
      height: 80px;
    }
  }
}