* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'SUIT', sans-serif;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}